
:root{
    --primary:rgb(98, 98, 225)
    /* --secondary:rgb */
}

.social-media-btns{
    margin: 0.25rem!important;
    color: white;
    border: none;
    border-radius: 49px;
    /* font-size: 22px; */
    width: 35px;
    height: 35px;
}

.base-theme{
    background-color: var(--primary);
}
.sec-theme{
    background-color: rgb(157, 157, 239);
}

.body-theme{
    background-color:rgb(218, 218, 238);
}

.nav-shadow{
    box-shadow: 0px 0px 9px 2px grey;
    z-index: 1;
}
.logo-shadow{
    box-shadow: -1px 2px 6px 1px black;
    z-index: 1;
}


.nav-links{
    color:white!important ;
}

.tab-overflow{
    overflow-x:auto
}


@media screen and (min-width:700px){
    .logo-shadow:hover{
        box-shadow: -1px 2px 9px 1px black;
        transform: scale(1.2);
        z-index: 1;
        transition: all 5ms linear;
    }
    .nav-links:hover{
        color:white!important ;
        transform: scale(1.2);
        transition: all 5ms linear;
    }
}

@media screen and (max-width:700px){
    .tab-overflow{
        overflow-x:scroll
    }
}

